/*********************************************
 *  Remove boarders from images
 *********************************************/

.reveal section img {
      border: 0.2;
        box-shadow: none;
    }

/*********************************************
 *  Change default font size
 *********************************************/
.reveal {
      font-family: "Lato", sans-serif;
        font-size: 25px;
          font-weight: normal;
            color: #93a1a1; }

/*********************************************
 *  * HEADERS
 *   *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
      margin: 0 0 20px 0;
      font-family: "League Gothic", Impact, sans-serif;
      color: #FF8C00;
      font-weight: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-transform: uppercase;
      text-shadow: none;
      word-wrap: break-word; }

.reveal h1 {
          font-size: 4.5em; }

.reveal h2 {
          font-size: 2.7em; }

.reveal h3 {
          font-size: 2.0em; }

.reveal h4 {
          font-size: 1em; }

.reveal h1 {
          text-shadow: none; }

.graphql-details {
  width: 70%;
}

.graphql-arch img {
  width: 30%;
  border: none !important;
  box-shadow: none !important;
}
